<h1 style="text-align: center; font-size:3rem">Imagen Pagina Test</h1>

<%= image_tag 'helios.jpg' %>



<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus soluta sequi maiores dolorum magni quidem pariatur quasi omnis! Reiciendis quibusdam tempora aut saepe totam facere ducimus dignissimos placeat dolore minima.Unde ad temporibus sed necessitatibus nostrum natus eaque repellendus mollitia, sequi ab tempore at, fugiat cupiditate quibusdam molestiae cumque nobis error, recusandae hic illum alias! Est, atque eum. Commodi, expedita!</p>